!!! 5
html(lang='en')  
  head
    meta(name="description", content=branch.data.description)
    link(rel="stylesheet", href=base + 'static/styles/skeleton.css')
    link(rel="stylesheet", href=base + 'static/styles/styles.css')
title Example Website - #{branch.data.title || branch.name}  
body
  div.container
    div.three.columns
      !{tree.getBranchByUrl('').renderTemplate('menu')}
    div.six.columns
      !{branch.renderTemplate('body')}