!!! 5
html(lang='en')  
  head
    meta(name="description", content=page.data.description)
    link(rel="stylesheet", href=site.url + '/static/styles/skeleton.css')
    link(rel="stylesheet", href=site.url + '/static/styles/styles.css')
    title Example Website - #{page.getTitle()}  
body
  div.container
    div.three.columns
      !{site.getPageByUrl('').renderTemplate('menu')}
    div.six.columns
      !{page.renderTemplate('body')}