!!! 5
html(lang='en')  
  head
    meta(name="description", content=page.description)
    link(rel="stylesheet", href=site.url + '/static/styles/skeleton.css')
    link(rel="stylesheet", href=site.url + '/static/styles/styles.css')
    title Example Website - #{page.title}  
body
  div.container
    div.three.columns
      !{root.render('menu')}
    div.six.columns
      !{page.render('body')}