p: b !{page.type == 'projects' ? 'Projects:' : 'Other projects:'}
ul.menu
  for child in page.get('/projects').children
    if isActive(child)
      li: a.active(href=child.url) #{child.title}
    else
      li: a(href=child.url) #{child.title}